footer{   

        padding:1%;
    color:#000000;
}

.bg-almost-black{
    background-color: #ffffff;
    
}

.container{
    margin-top:5%;
}

.container-spacing{
    margin-bottom:44%;
}

.logo{
    max-width:60px;
    padding:2px;
    margin:2px;
}

.logo2{
    width:60%;
    max-width:200px;
    padding:2px;
    margin:2px;
}

.bg-special-white{
    background-color:  #EEF2F5;
}

.pad{
    margin-bottom: 40px;
}

.stat{
    height:260px;
}

.human-image {
    max-width:200px;
        border-radius: 50%;
    margin-top: 15px;
    border: #13B25C 3px solid;
    padding:15px;
}


.person-name{
    position:absolute;
    top:180px;
    left:55px;
    width:100%;
}

.person-name span{
       color: white; 
   font: 20px/45px Helvetica, Sans-Serif;  
   background: rgb(0, 0, 0); /* fallback color */
   background: #13B25C;
   padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}
.button-success{
    background-color: #13B25C;
}

.border3{
    border-right: 2px solid #000000;
    border-left: 1px solid #000000;
}

.border2{
    border-left: 2px solid #000000;
        border-right: 1px solid #000000;
}

.border4{
        border-right: 1px solid #A5A4A5;
}

.border5{
        border-bottom: 1px solid #A5A4A5;
}

.margin-top{
    margin-top:40px;
} 

.badges{
    width:70px;
    padding:10px;
}

.icons{
    width:45px;
    padding:4px;
}

.card-primary{
    background-color: #F1D3CA;
    border:none;
}

.card-secondary{
    background-color: #F5E9C4;
    border:none; 
}

.card-success{
    background-color: #D4E9DE;
    border:none;
}

.card{
    border-radius: 0 !important;
}

.no-spacing{
    padding-right: 0px;
    padding-left: 0px;
}

.top-pad{
    padding-top: 15px;
}

.right-pad{
    padding-right: 15px;
}

.date-pad{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-red {
  color: #000;
  background-color: #F1D3CA;
  border-color: #000;
    border-radius: 0;
}

.btn-yellow {
  color: #000;
  background-color: #F5E9C4;
  border-color: #000;
    border-radius: 0;
}

.btn-green {
  color: #000;
  background-color: #D4E9DE;
  border-color: #000;
    border-radius: 0;
}


.btn-quarter{
    margin-top:20px;
    margin-bottom:20px;
    padding-left:60px;
    padding-right:60px;
    border-radius:0;
    background-color: #13B25C;
    color: #fff;
}