footer{   

        padding:1%;
    color:#000000;
}

.bg-almost-black{
    background-color: #ffffff;
    
}

.container{
    margin-top:5%;
}

.container-spacing{
    margin-bottom:44%;
}

.logo{
    max-width:60px;
    padding:2px;
    margin:2px;
}

.logo2{
    width:60%;
    max-width:200px;
    padding:2px;
    margin:2px;
}

.bg-special-white{
    background-color:  #EEF2F5;
}

.pad{
    margin-bottom: 40px;
}

.stat{
    height:260px;
}

.human-image {
    max-width:200px;
        border-radius: 50%;
    margin-top: 15px;
    border: #13B25C 3px solid;
    padding:15px;
}


.person-name{
    position:absolute;
    top:180px;
    left:55px;
    width:100%;
}

.person-name span{
       color: white; 
   font: 20px/45px Helvetica, Sans-Serif;  
   background: rgb(0, 0, 0); /* fallback color */
   background: #13B25C;
   padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}
.button-success{
    background-color: #60B290;
}

.border3{
    border-right: 2px solid #000000;
    border-left: 1px solid #000000;
}

.border2{
    border-left: 2px solid #000000;
        border-right: 1px solid #000000;
}

.border4{
        border-right: 1px solid #A5A4A5;
}

.border5{
        border-bottom: 1px solid #A5A4A5;
}

.margin-top{
    margin-top:40px;
} 

.badges{
    width:70px;
    padding:10px;
}

.icons{
    width:45px;
    padding:4px;
}

.feeling{
    width:250px;
    padding:4px;
}

.card-primary{
    background-color: #F1D3CA;
    border:none;
}

.card-secondary{
    background-color: #F5E9C4;
    border:none; 
}

.card-success{
    background-color: #D4E9DE;
    border:none;
}

.card{
    border-radius: 0 !important;
}

.no-spacing{
    padding-right: 0px;
    padding-left: 0px;
}

.top-pad{
    padding-top: 15px;
}

.bottom-margin{
    margin-bottom: 15px;
}

.right-pad{
    padding-right: 15px;
}

.date-pad{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-red {
  color: #000;
  background-color: #F1D3CA;
  border-color: #000;
    border-radius: 0;
}

.btn-yellow {
  color: #000;
  background-color: #F5E9C4;
  border-color: #000;
    border-radius: 0;
}

.btn-green {
  color: #000;
  background-color: #D4E9DE;
  border-color: #000;
    border-radius: 0;
}

.btn-success{
    background-color:#60B290;
    color:#fff;
}


.btn-quarter{
    margin-top:20px;
    margin-bottom:20px;
    padding-left:60px;
    padding-right:60px;
    border-radius:0;
    background-color: #13B25C;
    color: #fff;
}

.bck-green{
      color: #fff;
  background-color: #60B290;
  border-color: #000;
    border-radius: 0;
}

.modal-radius{
    border-radius: 15px;
}

.card-green{
    background-color: #D4E9DE;
    border:none;
    color:#fff;
    padding:40px;
}
.card-red{
    background-color: #F1D3CA;
    border:none;
    color:#fff;
    padding:40px;
}

.card-yellow{
    background-color: #F5E9C4;
    border:none;
    color:#fff;
    padding:40px;
}


.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

p2{
    font-size:13px;
}

/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.remove-padding{
    margin-bottom:-10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 250px;
    background: #F5F5F5;
    color: #828282;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #F1D3CA;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #828282;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #828282;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #828282;
    background: #F1D3CA;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


@import "compass/css3";

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body {
  background:$body-bg;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}

.form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

